body {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

div::-webkit-scrollbar {
  width: 6px;
}
div::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}
div::-webkit-scrollbar-thumb {
  background: #40a0ff49;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #40a0ff;
}

